{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/register.css' %}">

</head>
<body>
<section class="form">
 <h2>Register</h2>
  <div class="auth-container">
    {% if user.is_authenticated %}
      <p>You are already logged in as {{ user.username }}.</p>
      <p><a href="{% url 'Afya:logout' %}">Logout</a></p>
    {% else %}
      <form method="post" action="{% url 'Afya:register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
      </form>
      <p>Already have an account? <a href="{% url 'Afya:login' %}">Login</a></p>
    {% endif %}
  </div>
</section>
</body>
</html>